/*
 * CSS file for MMM-Netatmo-Presence module
 * 
 * 
 * 
 */

.mainWrapperNP{

}

.updateinfoNP{
/*xsmall light*/

  font-size: 15px;
  line-height: 20px;
  
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  
  text-align: center;
      
}

.liveWrapperNP{
}

.liveNameNP{
/*xsmall light*/

  font-size: 15px;
  line-height: 20px;
  
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  
  text-align: center;
  
   
}

.timelineTitleNP{
/*xsmall light*/

  font-size: 15px;
  line-height: 20px;
  
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  
  text-align: center;
  
/*  transform: scale(2) ;*/
    
}


.eventTableNP{
  text-align: center;
}

.eventLogoNP{

  text-align: center;
  font-size: 15px;
  line-height: 20px;
  
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
    
}


.eventTimeNP{

/*xsmall light*/

  font-size: 15px;
  line-height: 20px;
  
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  
}

.eventImageNP{
  
    width: 120px;
  
}

.iconHumanNP{

  color: #9B1E1E;
    
}

.iconVehicleNP{

  color: white;
    
}

.iconAnimalNP{

  color: white;

    
}
.iconMovementNP{

  color: green;
    
}


.eventImageNetatmoNP{
  
    width: 120px;
  
}

.lastEventAsFullImageOnTopNP{
  
    width: 420px;
  
}

.liveImageAsFullImageOnTopNP{
  
    width: 420px;
  
}

.lineNP{
  border-bottom: 1px solid #666;
  line-height: 15px;
  color: #999;
}







